body {
	font-family: Space Mono;
	background-color: #FFFFFC;
	margin-left: 20px;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	margin-left: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #C55;
}

h3 {
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: purple;
}

ul {
	margin-top: 10px;
}

ul li {
	list-style-type: none;
}

button {
	margin: 4px;
	margin-right: 0;
	padding: 8px;
	border: none;
	border-radius: 5px;
	background-color: #991;
	font-family: Space Mono;
	min-width: 100px;
	min-height: 35px;
}

button:hover {
	background-color: #BB3;
}

button:active {
	background-color: #CC3;
	color: #333;
}