<!DOCTYPE html>
<html>
<head>
	<title>Casino JS</title>
	<meta charset="utf-8">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="CSS.css">

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- VUE -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	
	<!-- Chart.js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>

</head>
<body>
	<div id="wrapper">

		<canvas id="graph"></canvas>

		<h1>Casino JS</h1>
		
		<h2 id="round">Round: {{ round }}</h2>

		<h3>Casino Info</h3>

			<ul class="row">
				<li class="col-sm-2">Payout <input type="number" v-model="payout" min="0" max="100" step="0.1"></li>
				<li class="col-sm-2">Win% <input type="number" v-model="winOdds" min="0" max="100.0" step="0.1"></li>
				<li class="col-sm-2">Min Bet <input type="number" v-model="minBet" min="0" max="100"></li>
			</ul>			

		<h3>Player Info</h3>
			
			<ul class="row">
				<li class="col-sm-4">Bank: {{ bank.toFixed(2) }}</li>
				<li class="col-sm-4">TakeHome: {{ takeHome.toFixed(2) }}</li>
				<li class="col-sm-4">Bet Multi: <input type="number" v-model="betMulti" min="0" max="10.0" step="0.1"></li>
				<li class="col-sm-4">MaxBank: <input type="number" v-model="maxBank" min="10" step="10"></li>
				<li class="col-sm-4">Start Bank: <input type="number" v-model="startingBank" min="10" step="5"></li>
				<li class="col-sm-4">Roll Rate: <input type="number" v-model="rollRate" min="0" max="1000" step="1"></li>
				<li class="col-sm-4">Avg Profit: {{ avgProfit }}</li>
				<li class="col-sm-4">Safe Bets: {{ safeBetCount }}</li>
				<li class="col-sm-4">Bust Odds: {{ safeBetOdds }}</li>
				<li class="col-sm-4">Bet: {{ bet.toFixed(2) }} {{ winPayout }}</li>
				<li class="col-sm-4">Investment: {{ investment.toFixed(2) }}</li>
				<li class="col-sm-4">Highest Bet: {{ highestBet }}</li>
			</ul>
			
			<button v-on:click="resetAll">Reset</button>
	</div><!-- wrapper -->
	
	<script type="text/javascript" src="js/game.js"></script>
	<script type="text/javascript">
		
		var chart = new Chart(
			$("#graph")[0].getContext('2d'), 
			{
				type: 'line',
				data: {
					labels: [],
					datasets: [
					{
						label: "Player Bank",
						borderColor: "#4B5",
						backgroundColor: "rgba(136, 186, 153, .25)",
						data: []
					},
					{
						label: "Take Home",
						borderColor: "#58B",
						backgroundColor: "rgba(95, 155, 183, .25)",
						data: []
					}]
				}
			}
		);

		function runTimer() {
			casino.autoRoll();
			timer = setTimeout(runTimer, casino.autoRollRate);
		}

		var timer = setTimeout(runTimer, 1000);

	</script>
</body>
</html>